/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html{
    height: 100%;
}
body{
    height: 100%;
}
.height100{
    height: 100%;
}
.width100{
    width: 100%;
}
.text-align-center{
    text-align: center;
}
.padding0{
    padding: 0%;
}
.margin0{
    margin: 0%;
}
.headingColor{
    color: #464646;
}